* {
  font-family: "Open Sans", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
/* header sec start */
header {
  height: 100vh;
  background: url("images/banner/banner1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.banner {
  text-align: end;
  /* padding: 150px 230px 364px 845px; */
  padding: 200px 200px 100px 800px;
}
.banner h2 {
  color: #151414;
  text-align: right;
  font-size: 40px;
  font-weight: 700;
}
.section-para {
  color: #444343;
  text-align: right;
  font-size: 16px;
  margin-top: 20px;
}

.section-btn {
  border-radius: 5px;
  background: #f15b22;
  color: #fff;
  text-align: right;
  font-size: 16px;
  border: none;
  padding: 15px 25px;
  margin-top: 25px;
}
/* header sec end */

/* main sec start */

/* failure section start */
.failures {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 140px 0px 150px 0px;
}
.failures img {
  width: 400px;
}
.failures-text {
  margin-left: 100px;
}
.failures-text h3 {
  color: #151414;
  font-size: 40px;
}
.failures-text p {
  color: #444343;
  font-size: 16px;
  margin-top: 15px;
}
.section-list {
  margin-top: 30px;
  margin-left: 20px;
}
.section-list-info {
  color: #444343;
  font-size: 16px;
  margin: 10px 0px 0px 0px;
}
/* failure section ends */

/* plans sec start */
.plans > h3 {
  color: #151414;
  font-size: 40px;
  text-align: center;
}
.plan-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 300px;
  padding: 50px 60px 0px 60px;
}
.plan-list-info {
  text-align: center;
}
.plan-list-title {
  color: #151414;
  font-size: 20px;
  margin-top: 15px;
}
.plan-list-para {
  color: #737272;
  font-size: 16px;
  margin-top: 15px;
}
/* plans sec end */

/* overlay section start */

.overlay {
  margin: 100px 0px 100px 120px;
}
.overlay-content {
  background: url("images/watch.png"),
    linear-gradient(90deg, rgba(241, 91, 34, 0.767), rgba(63, 21, 4, 0));
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  height: 300px;
  width: 1100px;
  background-size: cover;
  padding: 70px 0px 0px 100px;
}
.overlay-content h3 {
  color: #fff;
  font-size: 35px;
}
.overlay-content button {
  border-radius: 5px;
  background: #fff;
  color: #f15b22;
  text-align: center;
  font-size: 16px;
  padding: 10px 25px;
  border: none;
  margin-top: 20px;
}
/* overlay section end */
/* main sec end */

/* footer section start */
footer {
  background: #151414;
  color: white;
}
.footer-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 500px;
}
.footer-section-list h2 {
  color: #f8f8f8;
  font-size: 40px;
}
.footer-section-list p {
  color: #fff;
  font-size: 16px;
  margin-top: 15px;
}
.footer-section-icons {
  margin-top: 15px;
}
.footer-section-icons img:nth-child(2) {
  margin-left: 10px;
}
.footer-section-icons img:nth-child(3) {
  margin-left: 10px;
}

.footer-section-form {
  padding: 0px 0px 130px 0px;
}
.footer-section-form h3 {
  color: #fff;
  font-size: 25px;
}
.footer-section-form input {
  padding: 15px;
  background: transparent;
  border: 1px solid gray;
  border-radius: 10px;
  outline: none;
  margin-top: 25px;
}
.footer-section-form button {
  border-radius: 5px;
  background: #fff;
  color: #f15b22;
  text-align: center;
  font-size: 16px;
  padding: 10px 25px;
  border: none;
  margin-top: 20px;
}
/* footer section ends */
